{% extends 'base_layout.html' %}

{% block content %}
    <h1>Se connecter :</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        <!-- Permet d'empêcher les modifications hasardeuses mb-->
        {% csrf_token %}
        <!-- Inclut le formulaire de connexion               mb-->
        {{ form }}
        <!-- Vérifie que le formulaire est rempli            mb-->
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <input type="submit" value="Se connecter" />
    </form>
    <p>Pas de compte ? <a href="{% url 'accounts:signup' %}">Inscrivez-vous !</a></p>
{% endblock %}
