{% extends 'base_layout.html' %}

{% block content %}
    <h1>S'inscrire :</h1>
    <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
        <!-- Permet d'empêcher les modifications hasardeuses mb-->
        {% csrf_token %}
        <!-- Inclut le formulaire de connexion               mb-->
        {{ form }}
        <input type="submit" value="S'inscrire">
    </form>
{% endblock %}
