{% extends 'base_layout.html' %}

{% block content%}
    <h1>Microblog lunaire pour cowboys intergalactiques</h1>
    <div class="articles">
    <!-- Affiche les articles par date décroissante -->
    {% for article in articles reversed%}
        <div class="article">
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>{{ article.snippet }}</p>
            <p>{{ article.date }}</p>
            <p class="author">Créé par : {{ article.author.username }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
