{% extends 'base_layout.html' %}

{% block content %}
<div class="article-detail">
    <div class="article">
        <img src="{{ article.thumb.url }}" />
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>Créé par : {{ article.author.username }}</p>
        <p>{{ article.date }}</p>
    </div>
</div>
{% endblock %}