{% extends 'base_layout.html' %}

{% block content %}
    <div class="create-article">
        <h2>Créer un nouvel article :</h2>
        <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
            <!-- Permet d'empêcher les modifications hasardeuses mb-->
            {% csrf_token %}
            <!-- Inclut le formulaire de connexion               mb-->
            {{ form }}
            <input type="submit" value="Créer">
        </form>
    </div>
    <!-- Script pour passer le slug mb-->
    <script src="/static/slugify.js"></script>
{% endblock %}
