<!-- Permet de gérer les fichiers statiques (images et css)             mb--> 
<!-- On les récupère depuis le dossier défini dans microlly/settings.py mb-->
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Microlly</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'home' %}"><img src="{% static 'coffee.png' %}" width="50" height="50" alt="logo">Microlly</a></h1>
            <nav>
                <ul>
                    <!-- Permet de vérifier si un utilisateur est connecté mb-->
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            <!-- Permet d'empêcher les modifications hasardeuses mb-->
                            {% csrf_token %}
                            <button type="submit">Se déconnecter</button>
                        </form>
                    </li>
                    <li><a href="{% url 'articles:create' %}" class="highlight">Nouvel article</a></li>
                    <!-- Si il n'y a pas d'utilisateur connecté mb-->
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Se connecter</a></li>
                    <li><a href="{% url 'accounts:signup' %}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <!-- Permet d'hériter d'un autre fichier html mb-->
            <!-- Avec extends                             mb-->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>